<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>

  <div id="app">
    <div>
      {{message}}
    </div>
    <div>
      <button @click="click">Change message</button>
    </div>
    <br/>
    <div>
      {{message2}}
      <input type="text" v-model="message2">
    </div>
    <div>
      <span v-bind:style="showSpan" v-bind:class="bindedClass">I will disappear</span>
      <button @click="showingSpan">:3</button>
    </div>
    <div>
      <br/>
      <span v-show="withVShow">Using v-show</span>
      <input type="checkbox" v-model="withVShow">
    </div>
    <div>
      <span v-if="withVIf">Using v-if</span>
      <input type="checkbox" v-model="withVIf">
    </div>
    
  </div>
  
</body>
<style>
  .myClass {
    font-size: 20px;
  }
</style>
<script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
<script src="main.js"></script>
</html>